html {
	overflow-x: hidden;
	height: 100%;
} 
body {
	overflow-x: hidden;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.container {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
}

.material-icons {
  font-size: inherit;  /* Preferred icon size */
}


/* header */
header {
	background-color: #fff;
	height: 60px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 50;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
	line-height: 60px;
}
.menu {
	position: initial;
}
.menu .logo {
	display: inline-block;
	position: absolute;
	height: 80%;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: -1;
	margin-left: 5px;
}

.logo img {
	height: 100%;
	width: auto;
}

.menu ul {
	text-align: right;
	float: right;
}
.menu ul li {
	display: inline-block;
	cursor: pointer;
}

.menu ul li a {
	padding: 5px 10px;
	margin-left: 15px;
	color: #B2B2B2;
	font-size: 1rem;
}
.menu ul li:last-of-type {
	margin-right: -5px;
}

.menu ul li:hover a, .menu ul li a.active {
	color: #717071;
}


/* main */

/* top sec */
.top_sec {
	min-height: 440px;
	padding-top: 70px;
}

.top_banner {
	max-width: 400px;
}

.top_banner h2 {
	color: #717071;
	font-size: 2.4rem;
	font-weight: 100;
	margin-bottom: 15px
}
.top_banner p {
	color: #989898;
	line-height: 1.8;
	font-size: 1.2em;
}
.top_banner .logo {
	width: 90%;
}
.cs_red {
	color: #e95513;
}
.cs_green {
	color: #8cc11f;
}

/* curated question */
.curated {
	border-radius: 10px;
	width: 50%;
	max-width: 430px;
	height: 230px;
	position: absolute;
	top: 50px;
	right: 0;
	box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.4);
}
.curated::after {
	border: 20px solid transparent;
	content: "";
	height: 0;
	width: 0;
	display: inline-block;
	border-left-color: #fff;
	border-top-width: 0;
	position: absolute;
	bottom: -20px;
	left: 30px;
	z-index: 0;
	-webkit-filter: drop-shadow(3px 6px 4px rgba(0, 0, 0, 0.15));
    			filter: drop-shadow(3px 6px 4px rgba(0, 0, 0, 0.15))
}

.crt_head {
	height: 37px;
	background-color: #56b8cf;
	padding: 9px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.crt_head a:hover {
	opacity: 0.7;
}
.crt_prev, .crt_next {
	padding: 10px;
}
.crt_prev::before, .crt_next::before {
	border: 10px solid transparent;
	content: "";
	height: 0;
	width: 0;
	display: inline-block;
}
.crt_prev::before {
	border-right-color: #fff;
}
.crt_next::before {
	border-left-color: #fff;
}


.crt_body {
	padding: 20px 30px;
	background-color: #fff;
}
.crt_body h4 {
	color: #56b8cf;
	font-weight: 600;
	font-size: 1.2em;
	line-height: 1.5;
}

.crt_body button {
	position: absolute;
	bottom: 30px;
	right: 0;
	left: 0;
	margin: auto;
}

.red_btn {
	background-color: #e95513;
	color: #fff;
	border: none;
	border-radius: 20px;
	font-weight: 600;
	font-size: 1em;
	padding: 7px 25px;
}
button, .btn {
	cursor: pointer;
}
button:hover, .btn:hover {
	box-shadow: 0 7px 15px rgba(255	, 255, 255, 0.15) inset;
}
button:active, .btn:active {
	box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1) inset;
}

/* main_sec*/
.main_sec {
	background-color: #F1F1F1;
	padding-top: 50px;
}
.main_btns {
	margin-bottom: 50px;
}
.main_btns > button {
	width: 25%;
	position: relative;
	padding: 25% 0 0;
	border: none;
}
.main_btns > button.active {
	width: calc(50% - 12px);
}
.main_btns > button:active {
	box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1) inset;
}

#find_btn {background-color: #56B8CF;}
#wizard_btn {background-color: #8CC11F;}
#library_btn {background-color: #EB9F00;}

.main_btns h3 {
	color: #fff;
	font-size: 1.8rem;
	font-weight: 600;
	position: absolute;
	top: 0;
	width: 100%;
	padding: 20px 0;
}

.main_btns > button img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: auto;
	margin: auto;
}

/* main_conts */
.main_conts {
	color: #fff;
}
.main_conts > div{
	padding: 50px 0 100px;
	background-color: #ccc;
	display: none;
}
.main_conts > div.active{
	display: block;
}

.main_conts > div .container {
	max-width: 1000px;
}

#find_cont {background-color: #56B8CF;}
#wizard_cont {background-color: #8CC11F;}
#library_cont {background-color: #EB9F00;}


/* find cont */
#find_cont form {
  position: relative;
  height: 60px;
  width: 100%;
}
input[type="text"] {
  height: 60px;
  font-size: 1.8rem;
  display: inline-block;
  border: none;
  outline: none;
  color: #fff;
  border-bottom: 1px solid #fff;
  padding-right: 60px;
  width: calc(100% - 60px);
  background: none;
}

#search_submit {
	height: 67px;
  width: 63px;
  float: right;
  border: none;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: transparent;
}
label[for="search_submit"] {
  color: #fff;
  position: absolute;
  top: 9px;
  right: 0;
  z-index: 2;
  pointer-events: none;
  opacity: 1;
  transition: opacity .4s ease;
  font-size: 3rem;
}
#search_submit:hover + label {
  opacity: 0.7;
}

/* result list */
.result {
	margin-top: 15px;
}
.result > p {
	text-align: center;
	margin-bottom: 15px;
}
.result > li {
	display: block;
	background-color: #fff;
	color: #989898;
	padding: 18px 0;
	position: relative;
	cursor: pointer;
	margin-bottom: 20px;
}
.result > li > a > span {
	display: inline-block;
	vertical-align: top;
}
.rs_img {
	height: 130px;
	width: 130px;
	margin: 0 18px;
	overflow: hidden;
	background-color: #ccc;
} 
.rs_info {
	height: 130px;
	width: 120px;
	margin: 0 18px;
	overflow: hidden;
}
.rs_title {
	width: calc(100% - 331px);
	height: 100%;
}
.rs_title h4 {
	color: #333;
	font-size: 1.2rem;
	line-height: 1.4;
	margin-bottom: 10px;
}
.rs_title p {
	color: #989898;
}
.rs_info .stars {
	font-size: 1.4rem;
	letter-spacing: 5px;
	margin-bottom: 10px;
}
.rs_info {
	color: #b2b2b2;
	font-size: 0.9em;
}
.tabs li {
	display: inline-block;
	border: 1px solid #cbcbcb;
	padding: 4px 6px;
	margin-right: 5px;
	margin-bottom: 10px;
}
.tabs::after {
	content: "…";
	font-size: 18px;
	vertical-align: top;
}
.rs_info .from {
	text-align: right;
	position: absolute;
	right: 28px;
	bottom: 18px;
}

.result > li:hover {
	background-color: #f1f1f1;
}

.result > li:hover .rs_title h4 {
	color: #e95513;
}

/* wizard content */
.wizard p {
	line-height: 1.8;
	margin-top: 20px;
	font-size: 1.2rem;
}
.wizard p:first-of-type {
	margin-top: 0;
}

.wizard input[type="checkbox"], 
.wizard input[type="radio"] {
	display: inline-block;
	border: none;
	outline: none;
	background: transparent;
	height: 1px;
	width: 1px;
	display: none;
}

.wizard label[for]{
	cursor: pointer;
	position: relative;
	padding: 8px 1em;
	display: inline-block;
	line-height: 1.8;
	background-color: #fff;
	color: #8cc11f;
	border-radius: 7px;
	margin-right: 10px;
	margin-bottom: 15px;
}

.wizard label[for]:hover, 
.wizard label[for]:focus {
	color: #fff;
	background: #45981A;
}
.wizard input[type="checkbox"]:checked + label, 
.wizard input[type="radio"]:checked + label { 
	color: #fff;
	background: #45981A; 
} 

.wizard .red_btn {
	margin: 0 auto;
	margin-top: 20px;
}
.tcenter {
	text-align: center;
}

.select-hidden {
  display: none;
  visibility: hidden;
  padding-right: 10px;
}

.select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #8CC11F;
  width: 220px;
  height: 40px;
}

.select-styled {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 8px 15px;
  -moz-transition: background-color 0.2s ease-in;
  -o-transition: background-color 0.2s ease-in;
  -webkit-transition: background-color 0.2s ease-in;
  transition: background-color 0.2s ease-in;
  line-height: 26px;
  border-radius: 7px;
}
.select-styled:after {
  content: "";
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-color: #8CC11F transparent transparent transparent;
  position: absolute;
  top: 16px;
  right: 10px;
}
.select-styled:hover {
  background-color: #fff;
}
.select-styled:active, .select-styled.active {
  background-color: #fff;
  border-bottom-right-radius: 0; 
  border-bottom-left-radius: 0;
}
.select-styled:active:after, .select-styled.active:after {
  top: 9px;
  border-color: transparent transparent #fff transparent;
}

.select-options {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  z-index: 999;
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: #fff;
}
.select-options li {
  margin: 0;
  padding: 12px 0;
  text-indent: 15px;
  border-top: 1px solid #c1e271;
  -moz-transition: all 0.15s ease-in;
  -o-transition: all 0.15s ease-in;
  -webkit-transition: all 0.15s ease-in;
  transition: all 0.15s ease-in;
}

.select-options li:hover {
  color: #fff;
  background: #45981a;
}
.select-options li[rel="hide"] {
  display: none;
}




/* Library content */
.lib_table {
	width: 100%;
	color: #989898;
	background-color: #fff;
	text-align: left;
	display: table;
}

.lib_thead {
	display:table-header-group;
}

.lib_tbody {
	display:table-row-group;
	line-height: 1.4;
}

.lib_table .lib_tr {
	display: table-row;
}
.lib_table .lib_tr > span {
	display: table-cell;
	border: 10px solid transparent;
}
.lib_thead .lib_tr {
	background-color: #EB9F00;
	color: #fff;
	font-size: 1.2rem;
}
.lib_thead .lib_tr > span {
	vertical-align: bottom;
}

.lib_tbody .lib_tr:first-child > span {
	border-top: 15px solid transparent;
}
.lib_tbody .lib_tr:last-child > span {
	border-bottom: 15px solid transparent;
}
.lib_tr > span:first-child {
	border-left-width: 20px;
}
.lib_tr > span:last-child {
	border-right-width: 20px;
}
.lib_tbody .lib_tr > span:first-child {
	color: #333;
}
.lib_tbody .lib_tr:hover {
	background-color: #ffefbf;
}


.stars {
  display: inline-block;  
  position: relative;
  color: #e6e6e6;
}
.stars::after {  
  content: '\2606\2606\2606\2606\2606';
}
.difficulty {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 1;
  width: 0;
}
.difficulty::after {
	content: '\2605\2605\2605\2605\2605';
  color: #ffc03b;    
}

.difficulty[data-diff="1"] { width: 20%; }
.difficulty[data-diff="2"] { width: 40%; }
.difficulty[data-diff="3"] { width: 60%; }
.difficulty[data-diff="4"] { width: 80%; }
.difficulty[data-diff="5"] { width: 100%; }


.material-icons[data-icon]:after {
	vertical-align: middle;
	padding: 0 4px 4px 0;
}
.material-icons[data-icon="article"]:after {
	content: "description";
}
.material-icons[data-icon="pic"]:after {
	content: "image";
}
.material-icons[data-icon="video"]:after {
	content: "play_circle_outline";
}


/* footer */
footer {
	background-color: #4d4d4d;
	color: #fff;
	line-height: 1.4;
	font-size: 0.9rem;
	padding: 50px 0 80px;
}

footer section > div {
	display: inline-block;
	width: 21%;
	vertical-align: top;
}
footer section > div:first-of-type {
	width: 30%;
	margin-right: 3%;
}
footer section > div:first-of-type br {
	margin-bottom: 15px;
}
footer section > div:first-of-type .logo {
	margin-bottom: 20px;
}
footer .material-icons {
	padding: 0 4px 4px 0;
	vertical-align: middle;
}
footer address {
	text-indent: -0.6em;
	margin-left: 1.2em;
}

footer a[href="https://ocf.tw/"] {
	margin-right: 30px;
}

footer a {
	color: #fff;
	transition: opacity 0.2s ease;
}
footer a:hover {
	opacity: 0.7;
}
footer h5 {
	color: #cbcbcb;
}

footer .logo {
	display: block;
	margin-bottom: 10px;
}

footer p {
	margin-top: 11px;
}