:root {
	--sm-font-size: 1rem;
	--mid-font-size: 1.1rem;
	--big-font-size: 1.5rem;
	--m-line-height: 1.5;
	--m-margin: 50px;
}

html {
	overflow-x: hidden;
	height: 100%;
} 
body {
	overflow-x: hidden;
	font-family: 'Open Sans', Arial;
}

a {
	text-decoration: none;
	cursor: pointer;
}
p {
	line-height: 1.5;
	margin-bottom: 1em;
	font-size: inherit;
}
h5, h6 {
	font-size: var(--mid-font-size);
}
input, textarea, select, button {
	font-family: 'Open Sans', Arial;
}

.container {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 20px;
	position: relative;
}

.material-icons {
	font-size: inherit;	/* Preferred icon size */
	vertical-align: inherit;
}


/* header */
header {
	background-color: #fff;
	height: 50px;
	position: fixed;
	top: -60px;
	width: 100%;
	z-index: 55;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.05);
	line-height: 60px;
	transition: top 0.3s ease-in-out;
}
header.active {
	top: 0;
}
.menu {
	position: initial;
}
.menu .logo {
	display: inline-block;
	position: absolute;
	height: 85%;
	top: 0;
	bottom: 0;
	margin: auto;
	z-index: -1;
	margin-left: 5px;
}

.logo img {
	height: 100%;
	width: auto;
	max-width: 360px;
}

.menu ul {
	text-align: right;
	float: right;
}
.menu ul li {
	display: inline-block;
	cursor: pointer;
}

.menu ul li a {
	padding: 5px 10px;
	margin-left: 15px;
	color: #B2B2B2;
	font-size: 1.25rem;
	font-size: var(--sm-font-size);
}
.menu ul li:last-of-type {
	margin-right: -5px;
}

.menu ul li:hover a, .menu ul li a.active {
	color: #8CC11F;
}


/* main */

/* top sec */
.top_sec {
    padding-top: 8px;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5),  rgba(0, 0, 0, 0.5)),url(../img/bg/01.jpg) no-repeat;
    background-size: cover;
    background-position: 50% 80%;
    height: 75vh;
    position: relative;
	margin-bottom: var(--m-margin);
}
.top_sec::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 59px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.8) 76%, rgba(255, 255, 255, 1));
    bottom: 0px;
}
.top_banner {
	color: #fff;
	text-align: center;
	margin: 20px auto 40px;
}

.top_banner h2 {
	font-size: 2.3rem;
	margin-bottom: 15px;
	margin-top: 30vh;
}
.top_banner p{
	line-height: 1.5;
	font-size: 1.25rem;
	font-size: var(--mid-font-size);
}
.top_banner .logo {
	width: 100%;
}
.top_banner .logo img {
	width: 100%;
	height: auto;
}
.cs_red {
	color: #e95513;
}
.cs_green {
	color: #8cc11f;
}
.topic {
	color: #1a1a1a;
	text-align: center;
	font-size: 1.25rem;
	font-size: var(--mid-font-size);
}
.topic h3 {
	font-size: 1.8rem;
	font-size: var(--big-font-size);
	color: #4a92e1;
	margin: 15px auto;
}
/* curated question */
#crt_sec {
	background: url(../img/bg/magic_bg-01.png) no-repeat;
    background-size: 100% calc(100% - 90px);
    background-position: 0px 90px;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
    min-height: 500px;
    margin-bottom: var(--m-margin);
    position: relative;
}
.curated {
	max-width: 600px;
    min-height: 250px;
    position: relative;
    width: 60%;
    margin: 50px auto 50px 20%;
    display: inline-block;
}
.curated_img {
	width: 20%;
	vertical-align: top;
	top: 90px;
	bottom: 0;
	left: 10%;
	max-height: 240px;
	margin: auto; 
	position: absolute;
}

.crt_head {
	position: absolute;
	top: 0;
	bottom: 0;
	height: 40px;
	margin: auto;
	width: 100%;
}
.crt_head a {
	opacity: 0.7;
}
.crt_head a:hover {
	opacity: 1;
}
.crt_next, .crt_prev {
	position: absolute;
}
.crt_next {
	right: -60px;
}
.crt_prev {
	left: -60px;
}
.crt_prev::before, .crt_next::before {
	border: 22px solid transparent;
	content: "";
	height: 0;
	width: 0;
	display: inline-block;
}
.crt_prev::before {
	border-right: 38px solid rgba(186, 203, 221, 0.4);
}
.crt_next::before {
	border-left: 38px solid rgba(186, 203, 221, 0.4);
}

.crt_body {
	padding: 20px 30px 0px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	text-align: left;
}
.crt_body > div {
	display: none;
}
.crt_body > div.active {
	display: block;
}
.crt_body h4 {
	color: #333;
	font-size: 1.25rem;
	font-size: var(--mid-font-size);
	line-height: 1.5;
}

.crt_body button {
	width: 120px;
	margin: 30px auto 5px;
}

.main_btn {
	background-color: #f6921e;
	color: #fff;
	border: none;
	border-radius: 20px;
	font-weight: 700;
	font-size: 1.2rem;
	padding: 7px 25px;
	display: block;
	margin: 30px auto 0;
}

.main_btn:disabled {
	background-color: #333;
}
.main_btn.blue {
	background-color: #4a92e1;
}
button, .btn {
	cursor: pointer;
}
.btn:hover {
	box-shadow: 0 7px 100px rgba(255, 255, 255, 0.3) inset;
}
.btn:disabled:hover {
	box-shadow: none;
}
.btn:active {
	box-shadow: 0 7px 100px rgba(0, 0, 0, 0.2) inset;
}
.crt_dots {
	position: absolute;
    max-width: 600px;
    left: 0;
    right: 0;
    text-align: center;
    margin: 30px auto;
}
.crt_dots li {
	display: inline-block;
	margin-right: 10px;
}
.crt_dots li a {
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #b2b2b2;
	display: inline-block;
}
.crt_dots li a.active {
	background-color: #4a92e1;
	cursor: default;
}
/* main_sec*/
.main_sec {
	background-color: #F1F1F1;
	padding-top: 50px;
}
.main_btns {
	margin-bottom: 90px;
	padding: 0;
}
.main_btns > button {
	position: relative;
	border: none;
	width: 100%;
	text-align: left;
    padding: 0 20px 0 170px;
    transition: width 0.4s ease-in-out;
    background-repeat: no-repeat;
    background-size: auto 121%;
    background-position: 10px -13px;
    min-height: 90px;
    margin-bottom: 10px;
}
.main_btns > button.active {
	position: absolute;
    bottom: -100px;
    left: 0;
}
.main_btns > button:active {
	box-shadow: 0 7px 12px rgba(0, 0, 0, 0.1) inset;
}

#find_btn    {background-color: #56B8CF;
			  background-image: url('../img/btns-01.png')}
#wizard_btn  {background-color: #8CC11F;
			  background-image: url('../img/btns-02.png')}
#library_btn {background-color: #EB9F00;
			  background-image: url('../img/btns-03.png')}

.main_btns h3 {
	color: #fff;
	font-size: 1.8em;
	font-size: var(--big-font-size);
	font-weight: 700;
	position: relative;
	display: inline-block;
	vertical-align: -webkit-baseline-middle;
	vertical-align: middle;
}


/* main_conts */
.main_conts {
	color: #fff;
	max-height: 0;
	transition: max-height 2s ease-in-out;
	overflow: hidden;
	padding-top: 47px;
}
.main_conts.active {
	max-height: 9999px;
}
.main_conts > div {
	padding: 50px 0 70px;
	background-color: #ccc;
	display: none;
	position: relative;
}
.main_conts > div::before {
	position: absolute;
	top: -60px;
	left: 0;
	right: 0;
	margin: 0 auto;
	border: 30px solid transparent;
	border-bottom-color: #CCC;
	width: 0;
	content: "";
}
.main_conts > div.active{
	display: block;
}

.main_conts > div .container {
	max-width: 1000px;
}

#find_cont {background-color: #56B8CF;}
#wizard_cont {background-color: #8CC11F;}
#library_cont {background-color: #EB9F00;}

#find_cont::before {border-bottom-color: #56B8CF;}
#wizard_cont::before {border-bottom-color: #8CC11F;}
#library_cont::before {border-bottom-color: #EB9F00;}

.main_conts .main_btn {
	margin: 0 auto;
	margin-top: 30px;
	padding: 12px 25px;
	border-radius: 25px;
	min-width: 160px;
	display: block;
	font-size: 1.25rem;
	font-size: var(--mid-font-size);
}
#library_cont .main_btn{
	margin: 30px 0;
}

.big {
	font-size: 1.8em;
	font-size: var(--big-font-size);
}
.big + .main_btn {
	margin-top: 20px;
}

/* find cont */
#find_cont form {
	position: relative;
	height: 60px;
	width: 100%;
}
#find_cont input[type="text"] {
	height: 60px;
	font-size: 1.8em;
	font-size: var(--big-font-size);
	display: inline-block;
	border: none;
	outline: none;
	color: #fff;
	border-bottom: 1px solid #fff;
	width: calc(100% - 60px);
	background: none;
}

#search_submit {
	height: 67px;
	width: 63px;
	float: right;
	border: none;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
	background-color: transparent;
}
label[for="search_submit"] {
	color: #fff;
	position: absolute;
	top: 9px;
	right: 0;
	z-index: 2;
	pointer-events: none;
	opacity: 1;
	transition: opacity .4s ease;
	font-size: 3rem;
}
#search_submit:hover + label {
	opacity: 0.7;
}

.main_conts > div ::-webkit-input-placeholder { /* WebKit browsers */
	color: #fff;
}
.main_conts > div :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color: #fff;
}
.main_conts > div ::-moz-placeholder { /* Mozilla Firefox 19+ */
	color: #fff;
}
.main_conts > div :-ms-input-placeholder { /* Internet Explorer 10+ */
	color: #fff;
}
/* result list */
.result {
	margin-top: 15px;
}
.result > p {
	text-align: center;
	margin-bottom: 15px;
	font-size: 1.25rem;
	font-size: var(--mid-font-size);
}
.result > p[data-length="0"] {
	display: none;
}
.result > p.answer {
	text-align: left;
    line-height: 1.5;
    margin-bottom: 30px;
    background: rgba(255,255,255,0.9);
    color: #333;
    padding: 40px 30px;
    margin: 40px auto;
}
.result > p.answer::after {
	width: 100%;
	height: 1px;
	background-color: #fff;
	display: block;
	margin: 22px 0;
}
.result > p br {
	line-height: 3;
}
.result > p.big {
	font-size: 1.8em;
	font-size: var(--big-font-size);
	margin-top: 40px;
	margin-bottom: 40px;
}
.result .taggroup {
	text-align: left;
}
.result .taggroup a {
	margin-left: 0.8em;
	transition: opacity 0.2s ease-in-out;
}
.result .taggroup a:hover {
	opacity: 0.7;
}
.result > li {
	display: block;
	background-color: #fff;
	color: #989898;
	position: relative;
	cursor: pointer;
	margin-bottom: 20px;
	transition: all 0.2s ease-in-out;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
}
.result > li > a > span {
	display: block;
	vertical-align: top;
}
.result > li > a {
	display: block;
} 
.result .rs_img {
	height: 130px;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    display: -webkit-flex;
	display:         flex;
    -webkit-align-items: center;
			align-items: center;
	-webkit-justify-content: center;
			justify-content: center;
	position: relative;
}
.rs_img img {
	width: 100%;
}
.rs_img h5 {
	display: none;
	font-weight: 700;
	color: #999;
    padding: 0;
    word-wrap: break-word;
    max-width: 100%;
    line-height: 1.5;
    font-size: 1.8em;
    font-size: var(--big-font-size);
}
.rs_img img[src=""] {
	display: none;
}
.rs_img img[src=""] + h5 {
	display: block;
	padding: 15px 20px;
}
.rs_img::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    background: linear-gradient(to top, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0.15) 28%,rgba(0,0,0,0) 45%);
}
.rs_info {
	margin: 18px 0 18px 18px;;
	color: #b2b2b2;
	font-size: 0.9em;
	position: absolute;
    top: 80px;
    height: 70px;
    width: 100%;
}
.rs_title {
	width: 100%;
	height: 100%;
	margin: 18px 0;
	padding: 0 20px 20px;
	min-height: 80px;
}
.rs_title h4 {
	color: #333;
	font-size: 1.25rem;
	font-size: var(--mid-font-size);
	line-height: 1.5;
	margin-bottom: 10px;
	font-weight: 700;
}
.rs_title p {
	color: #b2b2b2;
	line-height: 1.5;
}
.rs_info .rank {
	font-size: 22px;
	margin-bottom: 10px;
	letter-spacing: -2px;
    text-indent: -3px;
    z-index: 1;
}
.result .tabs {
    position: absolute;
    top: -98px;
    left: -18px;
}
.tabs li {
	display: inline-block;
	padding: 4px 6px;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: rgba(0, 0, 0, 0.5);
	color: #fff;
}

.tabs::after {
	font-size: 18px;
	vertical-align: top;
}
.rs_info .from {
	text-align: right;
	position: absolute;
	right: 25px;
	top: 8px;
    z-index: 0;
    color: #cdcdcd;
}

.result > li:hover {
	box-shadow: 0px 1px 16px rgba(0, 0, 0, 0.25);
	-ms-transform: scale(1.02,1.02); /* IE 9 */
    -webkit-transform: scale(1.02,1.02); /* Chrome, Safari, Opera */
    transform: scale(1.02,1.02);
}

.result > li:hover .rs_title h4 {
	color: #e95513;
}

/* wizard content */
.wizard {
	font-size: 1.25rem;
	font-size: var(--mid-font-size);
	display: none;
}
.wizard.active {
	display: block;
}
.wizard p {
	line-height: 1.5;
	margin: 30px 0 12px;
	font-size: 1.8em;
	font-size: var(--big-font-size);
}
.wizard p:first-of-type {
	margin-top: 0;
}
.wizard_question {
	margin-top: 30px;
	opacity: 0;
	transition: opacity 0.4s ease-in-out;
}
.wizard_question.active {
	opacity: 1;
}
.wizard input[type="checkbox"], 
.wizard input[type="radio"] {
	display: inline-block;
	border: none;
	outline: none;
	background: transparent;
	height: 1px;
	width: 1px;
	display: none;
}

.wizard label[for]{
	cursor: pointer;
	position: relative;
	padding: 8px 1em;
	display: inline-block;
	line-height: 1.5;
	background-color: #fff;
	color: #8cc11f;
	border-radius: 7px;
	margin-right: 10px;
	margin-bottom: 15px;
}

.wizard label[for]:hover, 
.wizard label[for]:focus {
	color: #fff;
	background: #45981A;
}
.wizard input[type="checkbox"]:checked + label, 
.wizard input[type="radio"]:checked + label { 
	color: #fff;
	background: #45981A; 
} 

.tcenter {
	text-align: center;
}

.select-hidden {
	display: none;
	visibility: hidden;
	padding-right: 10px;
}

.select {
	cursor: pointer;
	display: inline-block;
	position: relative;
	color: #8CC11F;
	width: 220px;
	height: 40px;
}

.select-styled {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #fff;
	padding: 8px 15px;
	-moz-transition: background-color 0.2s ease-in;
	-o-transition: background-color 0.2s ease-in;
	-webkit-transition: background-color 0.2s ease-in;
	transition: background-color 0.2s ease-in;
	line-height: 26px;
	border-radius: 7px;
}
.select-styled:after {
	content: "";
	width: 0;
	height: 0;
	border: 7px solid transparent;
	border-color: #8CC11F transparent transparent transparent;
	position: absolute;
	top: 16px;
	right: 10px;
}
.select-styled:hover {
	background-color: #fff;
}
.select-styled:active, .select-styled.active {
	background-color: #fff;
	border-bottom-right-radius: 0; 
	border-bottom-left-radius: 0;
}
.select-styled:active:after, .select-styled.active:after {
	top: 9px;
	border-color: transparent transparent #fff transparent;
}

.select-options {
	display: none;
	position: absolute;
	top: 100%;
	right: 0;
	left: 0;
	z-index: 999;
	margin: 0;
	padding: 0;
	list-style: none;
	background-color: #fff;
}
.select-options li {
	margin: 0;
	padding: 12px 0;
	text-indent: 15px;
	border-top: 1px solid #c1e271;
	-moz-transition: all 0.15s ease-in;
	-o-transition: all 0.15s ease-in;
	-webkit-transition: all 0.15s ease-in;
	transition: all 0.15s ease-in;
}

.select-options li:hover {
	color: #fff;
	background: #45981a;
}
.select-options li[rel="hide"] {
	display: none;
}

#wizard_result {
	display: none;
}
#wizard_result.active {
	display: block;
}
#wizard_result .row {
	border-bottom: 1px solid #fff;
	padding-bottom: 10px;
	font-size: 1.25rem;
	font-size: var(--mid-font-size);
}
#wizard_result .row h3 {
	font-size: 1.8em;
	font-size: var(--big-font-size);
}
.back {
	position: absolute;
	left: 10px;
	top: 2px;
	vertical-align: bottom;
	padding: 10px;
}
#wizard_result .row a:hover {
	opacity: 0.7;
}

/* Library content */
#library_cont p {
	margin: 10px 0px 40px 0px;
	font-size: 1.8em;
	font-size: var(--big-font-size);
}
.lib_table {
	width: 100%;
	color: #989898;
	background-color: #fff;
	text-align: left;
	display: block;
	margin-top: 40px;
}

.lib_thead {
	display: none;
}

.lib_tbody {
	display: block;
	line-height: 1.5;
}

.lib_table .lib_tr {
	display: block;
	color: #b2b2b2;
	padding: 15px 20px 5px;
}

.lib_table .lib_tr:nth-of-type(2n + 2){
	background-color: #f1f1f1;
}
.lib_table .lib_tr > span {
	display: inline-block;
	margin-bottom: 10px;
}

.lib_thead .lib_tr {
	background-color: #EB9F00;
	color: #fff;
	font-size: 1.25rem;
	font-size: var(--mid-font-size);
}
.lib_thead .lib_tr > span a {
	vertical-align: bottom;
	color: #fff;
}
.lib_thead .lib_tr > span .material-icons {
	position: absolute;
	top: 0;
	left: -20px;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
}
.lib_thead .lib_tr > span a:hover .material-icons{
	opacity: 1;
}
.lib_tr > span:first-child {
	width: 100%;
}
.lib_tbody .lib_tr > span:nth-of-type(2) {
	margin-right: 15px;
	font-size: 0.8em;
}
.lib_tbody .lib_tr > span:nth-of-type(3) {
	margin-right: 10px;
	font-size: 0.8em;
}
.lib_tbody .lib_tr > span:nth-of-type(4) {
	margin-top: 2px;
}
.lib_tbody .lib_tr > span:first-child {
	color: #333;
}
.lib_tbody .lib_tr:hover {
	background-color: #ffefbf;
}

/* rank & difficulty */
.difficulty, .rank {
	display: inline-block;	
	position: relative;
	color: #e6e6e6;
	font-family: 'Material Icons', Arial;
	white-space: nowrap;
}
.difficulty {
	letter-spacing: -3px;
	vertical-align: middle;
}
.difficulty::after {	
	content: 'flash_onflash_onflash_onflash_onflash_on';
}
.rank::after {
	content: 'star star star star star ';
}
.difficulty .stars, .rank .stars{
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	z-index: 1;
	width: 0;
}
.difficulty .stars::after {
	content: 'flash_onflash_onflash_onflash_onflash_on';
	color: #ffc03b;	
}
.rank .stars::after {
	content: 'star star star star star ';
	color: #ffc03b;	
}
.stars {
	height: 100%;
	width: 0%;
	letter-spacing: inherit;
}

.difficulty .stars[data-diff="1"], .rank .stars[data-rank="0"] { width: 0%; }
.difficulty .stars[data-diff="1"], .rank .stars[data-rank="1"] { width: 20%; }
.difficulty .stars[data-diff="2"], .rank .stars[data-rank="2"] { width: 40%; }
.difficulty .stars[data-diff="3"], .rank .stars[data-rank="3"] { width: 60%; }
.difficulty .stars[data-diff="4"], .rank .stars[data-rank="4"] { width: 80%; }
.difficulty .stars[data-diff="5"], .rank .stars[data-rank="5"] { width: 100%; }

.difficulty .stars[data-diff="1"]::after{ color: #8cc11f; }
.difficulty .stars[data-diff="2"]::after{ color: #b5c11f; }
.difficulty .stars[data-diff="3"]::after{ color: #ffc03b; }
.difficulty .stars[data-diff="4"]::after{ color: #eb9f00; }
.difficulty .stars[data-diff="5"]::after{ color: #e95513; }

.material-icons[data-icon]:after {
	padding: 0 4px 0px 0;
	vertical-align: top;
	top: 2px;
	position: relative;
}
.material-icons[data-icon="article"]:after {
	content: "description";
}
.material-icons[data-icon="pic"]:after {
	content: "image";
}
.material-icons[data-icon="video"]:after {
	content: "play_circle_outline";
}

/* backtop_btn */
.backtop_btn {
	position: fixed;
	right: 50px;
	bottom: 50px;
	width: 50px;
	height: 50px;
	background-color: #fff;
	border-radius: 50%;
	box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.2);
	font-size: 50px;
	color: #333;
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	z-index: 99;
}
.backtop_btn.active {
	opacity: 1;
}


/* pop up */
#popup_wrap {
	z-index: 99;
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.3);
	top: 0;
	display: none;
}
#popup_wrap.active {
	display: -webkit-flex;
	display:         flex;
	-webkit-align-items: center;
			align-items: center;
	-webkit-justify-content: center;
			justify-content: center;
	overflow-y: auto;
    overflow-x: hidden;
}
.popup {
	max-width: 600px;
	width: calc(100% - 40px);
	height: auto;
	vertical-align: middle;
	display: none;
	color: #333;
	border-radius: 10px;
	box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.popup.active {
	display: block;
}
.summon {
	margin: 5% auto;
	top: 0;
    position: absolute;
}
.popup_head {
	background-color: #56b8cf;
	padding: 13px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	color: #fff;
	position: relative;
	text-align: center;
}
.feedback .popup_head {
	background-color: #8cc11f;
}
.feedback .popup_body {
	padding-bottom: 0;
}
#popup_feedback {
	max-width: 960px;
}
#result_feedback {
	text-align: left;
}
#library_feedback .rs_title{
	width: 100%;
	text-align: left;
	padding: 0 20px;
	margin-bottom: 3px;
}
.summon .popup_head {
	background-color: #e95513;
}
.popup_head a {
	color: #fff;
}
.popup_head a:hover {
	opacity: 0.7;
}
.popup_close {
	position: absolute;
	right: 15px;
	top: 15px;
	font-size: 1.25rem;
	font-size: var(--mid-font-size);
}
.popup_body {
	padding: 30px 35px;
	background-color: #fff;
	text-align: center;
	font-size: 1.25rem;
	font-size: var(--mid-font-size);
}
.summon .popup_body{
	text-align: left;
}
.popup_body .rank_enable {
	font-size: 2.6rem;
	letter-spacing: -4px;
	cursor: pointer;
}
.popup_body .result {
	margin: 25px auto;
}
.popup_body .main_btn {
	margin-top: 20px;
}
input[name="rank"] {
	display: none;
}

.popup_foot {
	min-height: 10px;
	background-color: #fff;
	padding: 25px 30px 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	position: relative;
	text-align: left;
}
.popup_foot a {
	word-wrap: break-word;
	color: #666;
}
.popup_foot a:hover {
	opacity: 0.7;
}
.popup_foot.emergency {
	background-color: #FBDDD0;
}
.emergency h6 {
	color: #873633;
	vertical-align: bottom;
	margin-bottom: 10px;
}
.emergency h6 i {
	margin-right: 5px;
}
.emergency h5 {
	margin-bottom: 7px;
	margin-top: 20px;
	font-size: 1.25rem;
	font-size: var(--mid-font-size);
}
.emergency p {
}
.summon label {
	display: block;
	margin-bottom: 10px;
}
.summon textarea, .summon input[type="text"] {
	width: 100%;
	border-radius: 7px;
	border: 1px solid #b2b2b2;
	padding: 10px 15px;
}
.summon textarea {
	margin-bottom: 20px;
	resize: none;
	line-height: 1.5;
}

/* footer */
footer {
	background-color: #4d4d4d;
	color: #fff;
	line-height: 1.5;
	font-size: 1rem;
	padding: 50px 0 80px;
}

footer section > div {
	vertical-align: top;
	width: 100%;
    max-width: 380px;
    margin: 0 auto 50px;
    text-align: center;
}

footer section > div:first-of-type br {
	margin-bottom: 15px;
}
footer section > div:first-of-type .logo {
	margin-bottom: 0px;
}
footer .material-icons {
	padding: 0 4px 4px 0;
	vertical-align: middle;
}
footer address {
	text-indent: -0.6em;
	margin-left: 1.4em;
}

footer a {
	color: #fff;
	transition: opacity 0.2s ease;
}
footer a:hover {
	opacity: 0.7;
}
footer a[href="https://ocf.tw/"] {
	margin-right: 30px;
}
footer a.logo[href="https://ocf.tw/"] {
	margin-right: 0;
}
footer h5 {
	color: #cbcbcb;
	font-size: var(--mid-font-size);
}

footer .logo {
	display: block;
	margin-bottom: 10px;
}

footer p {
	margin-top: 11px;
	text-align: left;
}
