@media screen and (min-width: 576px) {
	:root {
		--sm-font-size: 1rem;
		--mid-font-size: 1.1rem;
		--big-font-size: 1.6rem;
	}
	.top_banner {
		margin: 0 auto 80px;
	}
	.top_sec {
	    padding-top: 24px;
	}
	.popup_body .rank_enable {
		letter-spacing: 5px;
	}
	/* backtop_btn */
	.backtop_btn {
		right: 50px;
		bottom: 50px;
		width: 50px;
		height: 50px;
		font-size: 50px;
	}
	#about .row > div {
		display: inline-block;
	}
	.row .w4 {
		width: 22%;
		margin-right: 2.2%;
	}
	.row .w8 {
		width: 75%;
	}
	#about .row:nth-child(even) {
		margin-top: 1em;
	}
	#about .row:nth-child(even) .w4 {
		float: right;
	}
	#about .row:nth-of-type(2) {
		margin-top: 40px;
	}
	#about .row:nth-of-type(3) {
		margin-top: 60px;
	}
	#about .row:nth-of-type(4) {
		margin-top: 60px;
	}
	.backtop_btn.active {
		opacity: 1;
	}
}
@media screen and (min-width: 768px) {
	:root {
		--mid-font-size: 22px;
		--big-font-size: 2rem;
	}
	header {
		height: 60px;
		line-height: 60px;
	}
	.top_sec {
	    padding-top: 37px;
	}
	.menu .logo {
		height: 80%;
	}
	.main_btns {
		text-align: center;
	}
	.main_btns > button {
		width: 32%;
		background-position: 50%;
		background-size: auto 100%;
		position: relative;
		display: inline-block;
		padding-bottom: 0;
		right: auto;
		opacity: 1;
		background-color: #fff;
		box-shadow: none;
		max-width: none;
		transition: box-shadow 0.2s ease-in-out;
	}
	#library_btn,
	#wizard_btn {
		left: auto;
	}
	#find_btn.active ~ #wizard_btn {
		right: auto;
	}
	.main_btns > button + button {
		margin-left: 1%;
	}
	.main_btns > button.active {
		bottom: auto;
		position: relative;
	}
	.main_btns h3 {
		padding: 15px 0;
	}
	.main_btns p {
		display: block;
	}
	.main_conts.active {
		max-height: 9999px;
	}
	#find_cont::before {right: 45%;}
	#library_cont::before {left: 45%;}

	#find_cont {
		background-repeat: repeat-y;
		background-image: url(../img/bg/find_bg_l.png),url(../img/bg/find_bg_r.png);
		background-size: auto 2960px,auto 2960px;
	    background-position: 0 0,100% 0;
	}

	#wizard_cont {
		background-repeat: no-repeat;
		background-image: url(../img/bg/wizard_bg_tl.png),url(../img/bg/wizard_bg_tr.png);
		background-size: auto 740px,auto 740px;
	    background-position: 0 0,100% 0;
	}
	#wizard_cont:after {
		content: "";
		width: 100%;
		height: 100%;
		position: absolute;
		top: 740px;
		pointer-events: none;
		background-repeat: repeat-y;
		background-image: url(../img/bg/wizard_bg_l.png),url(../img/bg/wizard_bg_r.png);
		background-size: auto 1480px,auto 1480px;
	    background-position: 0 0,100% 0;
	}
	#library_cont {
		background-repeat: repeat-y;
		background-image: url(../img/bg/library_bg_l.png),url(../img/bg/library_bg_r.png);
		background-size: auto 1480px,auto 1480px;
	    background-position: 0 0,100% 0;
	}

	label[for="search_submit"] {
		bottom: 5px;
	}
	/* result */
	.sort_line {
		margin-top: 20px;
		display: flex;
		justify-content:space-between;
	}
	.sort_line span {
		line-height: 1;
		margin-right: 0;
	}
	.sort_line a:first-of-type {
		margin-left: 0.7em;
	}
	span.result_length {
	    display: inline-block;
	    padding-top: 0;
	    margin-bottom: 0;
	}
	.format_length {
		text-align: right;
	}
	.result > li > a > span {
		display: inline-block;
	}
	.result .rs_img {
		width: 130px;
		margin: 18px 18px;
		display: inline-block;
		display: -webkit-inline-flex;
		display:         inline-flex;
		background-color: rgba(0, 0, 0, 0);
	}
	.rs_title {
		width: calc(100% - 331px);
		padding: 0;
		max-height: 100px;
    	overflow-y: hidden;
	}
	.rs_img::after {
		display: none;
	}
	.rs_info {
		height: 130px;
		width: 135px;
		color: #b2b2b2;
		position: relative;
	    top: 0px;
	    overflow: hidden;
	    margin: 18px 0 18px 18px;
	}
	.rs_info .from {
		top: auto;
		bottom: 18px;
		color: inherit;
		font-size: 0.9rem;
	}
	.rs_info_bottom {
		bottom: 21px;
		left: 170px;
		right: auto;
	}
	.result .tags {
	    top: auto;
	    left: auto;
	    position: relative;
	}
	.tags li {
		border: 1px solid #b2b2b2;
		background-color: rgba(0, 0, 0, 0);
		color: inherit;
		white-space: nowrap;
		font-size: 0.9rem;
		color: #808080;
	}
	.tags li:hover {
		color: #e95513;
		border-color: #e95513;
	}
	.result .tags li:nth-of-type(4)::after {
	    content: "...";
	    display: block;
	    width: 100%;
	    position: absolute;
	    background: #fff;
	    left: 0;
	    top: 84px;
	    height: 60px;
	}
	.rs_info .format {
		text-align: left;
		left: 0;
		bottom: 4px;
		right: auto;
    	top: auto;
	    color: #808080;
	}
	.rs_img h5 {
		font-size: inherit;
	}
	.rs_img img[src=""] + .from {
		padding: 0;
		font-size: 1rem;
	}

	/* Library */
	.lib_table {
		display: table;
	}
	.lib_thead {
		display: block;
	}
	.lib_tbody {
		line-height: 1.4;
	}
	.lib_table .lib_tr > span {
		display: inline-block;
	}
	.lib_thead .lib_tr > span:first-child {
		width: 60%;
	}
	.lib_thead .lib_tr > span {
		position: relative;
	}
	.lib_thead .lib_tr > span:nth-of-type(n + 3) {
		margin-left: -1px;
	}
	.lib_tbody .lib_tr {
		min-height: 74px;
    	display: flex;
    	align-items: center;
	}
	.lib_tbody .lib_tr:last-child > span {
	}
	.lib_table .lib_tr > span{
		vertical-align: middle;
	}
	.lib_table .lib_tr > span:nth-of-type(2){
		width: 100px;
		margin-right: 20px;
	}
	.lib_table .lib_tr > span:nth-of-type(3){
		width: 80px;
		margin-right: 20px;
	}
	.lib_table .lib_tr > span:nth-of-type(4){
		width: 80px;
	}
	.lib_table .lib_tr > span:nth-of-type(5){
		width: 65px;
	}
	.lib_table .lib_tr > span:first-child{
		width: calc(100% - 330px);
	}
	.lib_tbody .lib_tr > span:first-child {
		color: #333;
    	padding-right: 20px;
    	margin-right: 2px;
	}
	.lib_tbody .material-icons {
		margin-bottom: 6px;
	}
	.result .answer_block {
		padding: 40px 80px 60px;
	}
}
@media screen and (min-width: 960px) {

	.top_banner > div {
		padding: 30px 60px 30px 100px;
		width: auto;
	    text-align: left;
	}
	.top_sec {
	    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
	    	        url(../img/bg/top_bg_1.png)repeat-x,
	    	        url(../img/bg/top_bg_2.png) no-repeat,
	    	        linear-gradient(to bottom, rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.1)),
	    	        url(../img/bg/top_bg_0.png?v=0112);
	    background-size: auto, contain, contain, auto;
	    background-position: 0, 0, 700px 0, 0;
	}
	.result .answer_block {
		padding: 40px 130px 60px;
	}
	footer section > div {
		margin: 0 auto var(--m-margin);
		max-width: 100%;
		text-align: center;
	}
	footer div + div h5 {
		vertical-align: text-bottom;
		margin-bottom: 0.5em;
	}
	footer div + div .logo {
		display: inline-block;
		vertical-align: -webkit-baseline-middle;
		margin-bottom: 0;
	}
	footer div + div .logo + .logo {
		margin-left: 50px;
	}
	footer p {
		display: inline-block;
		max-width: 600px;
    	vertical-align: -webkit-baseline-middle;
    	margin-top: 0;
	}
	footer section > div:first-of-type {
		margin-bottom: 60px;
		margin-top: 10px;
	}
}
@media screen and (min-width: 1200px) {
	
}
@media screen and (min-width: 1640px) {
	.top_sec {
	    padding-top: 8px;
	    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0)),
	    	        url(../img/bg/top_bg_1.png)repeat-x,
	    	        url(../img/bg/top_bg_2.png) no-repeat,
	    	        linear-gradient(to bottom, rgba(255, 255, 255, 0.45), rgba(255, 255, 255, 0.1)),
	    	        url(../img/bg/top_bg_0.png?v=0112);
	    background-size: auto, contain, contain, auto;
	    background-position: 0, 0, 100% 0, 0;
	    height: 100vh;
	    position: relative;
	    display:flex;
		align-items:center;
		justify-content: flex-start;
	}
}