@media screen and (min-width: 960px) {
	.top_banner {
		max-width: 400px;
		text-align: left;
	}
	.curated {
		width: 50%;
		position: absolute;
		top: 50px;
		right: 20px;
		margin: 0;
	}
	.crt_dots {
		position: absolute;
		left: 12px;
		top: 307px;
	}
}