<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<title>Resource Portal</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/main.css?v=20171122" rel="stylesheet">

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js" defer></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue" defer></script>
	<script type="text/javascript" src="data/materials.js" defer></script>
	<script type="text/javascript" src="js/search.js" defer></script>
	<script type="text/javascript" src="js/main.js" defer></script>
</head>
<body>
	<header>
		<nav class="menu container">
			<h1 class="logo">
				<a href="/"><img src="img/logo_s.svg"></a>
			</h1>
			<ul>
				<li><a>About</a></li>
			</ul>
		</nav>
	</header>

	<main>
		<section class="top_sec">
			<div class="container">
				<div class="top_banner">
					<h1 class="logo">
						<img src="img/logo.svg">
					</h1>
					<h2>
						<i class="cs_red">D</i>efend for <i class="cs_green">D</i>efenders
					</h2>
					<p>
						Here is some description about this web in 10~20 words.
					</p>
				</div>

				<div class="curated">
					<div class="crt_head">
						<a class="crt_prev"></a>
						<a class="crt_next"></a>
					</div>
					<div class="crt_body">
						<div>
							<h4>How do I know if my phone is being tapped?</h4>
							<button class="red_btn">Answer</button>
						</div>
					</div>
					<div class="crt_dots">
						<a class="crt_dot active"></a>
						<a class="crt_dot"></a>
						<a class="crt_dot"></a>
						<a class="crt_dot"></a>
						<a class="crt_dot"></a>
					</div>
				</div>
			</div>
		</section>

		<section class="main_sec">
			<div class="main_btns container">
				<button id="find_btn"><h3>Find</h3><img src="img/btns-01.svg"></button>
				<button id="wizard_btn" class="active"><h3>Wizard</h3><img src="img/btns-02.svg"></button>
				<button id="library_btn"><h3>Library</h3><img src="img/btns-03.svg"></button>
			</div>
			<!-- contents -->
			<div class="main_conts">

				<div id="find_cont">
					<div class="container">
						<form action="" autocomplete="on">
							<input v-model="searchterm" name="search" type="text" placeholder="What are you looking for?">
							<input id="search_submit" value="" type="submit">
							<label for="search_submit"><i class="material-icons">&#xE8B6;</i></label>
						</form>

						<ul class="result">
							<p>{{searchresults.length}} results</p>
							<li v-for="result in searchresults">
							<a v-bind:href="result.doc.link" target="_blank">
								<span class="rs_img">
									<img src="">
								</span>
								<span class="rs_title">
									<h4>{{ result.doc.series }} - {{ result.doc.title }}</h4>
									<p>{{ result.doc.tagline }}</p>
								</span>
								<span class="rs_info">
									<span class="rank"><span class="stars" data-rank="3"></span></span>
									<ul class="tabs">
										<li>tab1 test</li>
										<li>tab2</li>
									</ul>
									<p class="from">{{result.doc.link}}</p>
								</span>
							</a>
							</li>
					  </ul>
					</div>
				</div>

				<div id="wizard_cont">
					<div class="container">
						<form class="wizard">
							<p>Description</p>
							<p>Q1. Where are you from ?</p>
							<select name="country">
								<option value="hide">-- Country --</option>
							  <option value="Taiwan">Taiwan</option>
							  <option value="Taiwan">Taiwan</option>
							</select>
							<p>Q2. What are you ... ?</p>
							<input type="checkbox" name="platform" id="Windows" value="Windows">
							<label for="Windows">Windows</label>
							<input type="checkbox" name="platform" id="MacOS" value="MacOS">
							<label for="MacOS">MacOS</label>
							<input type="checkbox" name="platform" id="iOS" value="iOS">
							<label for="iOS">iOS</label>
							<input type="checkbox" name="platform" id="Android" value="Android">
							<label for="Android">Android</label>
							<div class="row tcenter">
								<input class="btn red_btn" type="submit" value="Submit">
							</div>
						</form>
					</div>
				</div>

				<div id="library_cont">
					<div class="container">
						<div class="lib_table">
							<div class="lib_thead">
								<span class="lib_tr">
									<span>Title</span>
									<span>Main spaneme</span>
									<span>Format</span>
									<span>Difficulty</span>
								</span>
							</div>
							<div class="lib_tbody">
								<a class="lib_tr">
									<span>Protect your device from malware and hackers</span>
									<span>Device</span>
									<span><i class="material-icons" data-icon="article"></i>Article</span>
									<span><span class="difficulty"><span class="stars" data-diff="1"></span></span></span>
								</a>
								<a class="lib_tr">
									<span>Protect your information from physical threats</span>
									<span>Physical Security</span>
									<span><i class="material-icons" data-icon="article"></i>Article</span>
									<span><span class="difficulty"><span class="stars" data-diff="2"></span></span></span>
								</a>
								<a class="lib_tr">
									<span>Create and maintain secure passwords</span>
									<span>Passwords</span>
									<span><i class="material-icons" data-icon="article"></i>Article</span>
									<span><span class="difficulty"><span class="stars" data-diff="3"></span></span></span>
								</a>
								<a class="lib_tr">
									<span>Protect the sensitive files on your computer</span>
									<span>Data Safekeeping</span>
									<span><i class="material-icons" data-icon="article"></i>Article</span>
									<span><span class="difficulty"><span class="stars" data-diff="4"></span></span></span>
								</a>
								<a class="lib_tr">
									<span>Tor Browser for Windows - Online anonymity and censorship circumvention</span>
									<span>Browsing</span>
									<span><i class="material-icons" data-icon="pic"></i>Articles with pictures</span>
									<span><span class="difficulty"><span class="stars" data-diff="5"></span></span></span>
								</a>
								<a class="lib_tr">
									<span>What is Privacy?</span>
									<span>Privacy</span>
									<span><i class="material-icons" data-icon="video"></i>video</span>
									<span><span class="difficulty"><span class="stars" data-diff="1"></span></span></span>
								</a>
							</div>
						</div>
					</div>
				</div>

			</div>
		</section>
	</main>

	<footer>
		<section class="container">
			<div>
				<a href="https://ocf.tw/" class="logo" target="_blank"><img src="img/logos/logo_OCF.png"></a>
				<a href="https://ocf.tw/" target="_blank"><i class="material-icons">&#xE88A;</i>ocf.tw</a>
				<a href="mailto:hi@ocf.tw"><i class="material-icons">email</i>hi@ocf.tw</a>
				<br>
				<address><i class="material-icons">&#xE0BE;</i>(10058) 4F., No.94, Sec. 1, Bade Rd., Zhongzheng Dist., Taipei City 100, Taiwan</address>
			</div>
			<div>
				<h5>Partners</h5>
				<a class="logo" target="_blank"><img src="img/logos/logo_NSD.png"></a>
				<a class="logo" target="_blank"><img src="img/logos/logo_TAHR.png"></a>
				<a class="logo" target="_blank"><img src="img/logos/logo_HITC.png"></a>
				<a class="logo" target="_blank"><img src="img/logos/logo_IFC.png"></a>
			</div>
			<div>
				<h5>Funded by</h5>
				<a class="logo" target="_blank"><img src="img/logos/logo_TFD.png"></a>
			</div>
			<div>
				<h5>Tagline for resource portal</h5>
				<p>CSCS Resource Portal is an aggregator for Digital Security training materials that is categorized according to topic, form and difficulty, to allow activists to easily search for materials that suit their needs.</p>
			</div>
		</section>
	</footer>
</body>
</html>
