<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="Easy access to reliable digital security resources for activists">
    <meta name="keywords" content="Easy, digital security, resources, activists">
    <meta name="author" content="OCF">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- fb og tag -->
	<meta property="og:url" content="https://resourceportal.ocf.tw" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Resource Portal - Civil Society Cyber Shield" />
	<meta property="og:description" content="Easy access to reliable digital security resources for activists" />
	<meta property="og:image" content="https://resourceportal.ocf.tw/img/logo-01.png?v=1229" />

	<link rel="shortcut icon" type="image/x-icon" href="img/favicon_s.ico">
	<link rel="bookmark" href="img/favicon_s.ico">
	<link rel="icon" type="image/png" href="img/favicon_s.png" sizes="16x16 32x32 48x48">
	<link rel="icon" type="image/png" href="img/favicon_m.png">
	<link rel="apple-touch-icon" href="img/favicon_m.png">

	<title>Resource Portal - Civil Society Cyber Shield</title>

	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
	
	<link href="css/reset.css" rel="stylesheet">
	<link href="css/main.css?v=20170127" rel="stylesheet">
	<link href="css/rwd.css?v=20170127" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">

	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/elasticlunr/0.9.6/elasticlunr.min.js" defer></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" defer></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.8/vue.js" defer></script>
	<script type="text/javascript" src="https://unpkg.com/vue-router@2.0.0/dist/vue-router.js" defer></script>
	<script type="text/javascript" src="data/materials.js" defer></script>
	<script type="text/javascript" src="data/questions.js" defer></script>
	<script type="text/javascript" src="js/jquery.parallaxer.js" defer></script>
	<script type="text/javascript" src="js/search.js?v=20170127" defer></script>
	<script type="text/javascript" src="js/main.js?v=20170127" defer></script>
</head>
<body>
<router-view>
	<header>
		<nav class="menu container">
			<h1 class="logo">
				<a href="/"><img src="img/logo_s.svg"></a>
			</h1>
			<ul>
				<li><a class="goto" data-href="#about_topic">About</a></li>
				<li>
					<a href=""><span class="icomoon-facebook"></span>Share</a>
				</li>
			</ul>
		</nav>
	</header>

	<main>
		<section class="top_sec">
			<div class="top_banner">
				<div>
					<h1 class="logo">
					<img src="img/logo.svg">
					</h1>
					<h2>
						Defend for Defenders
					</h2>
					<p>
					Easy access to reliable digital security resources for activists
					</p>
				</div>
			</div>
		</section>
		<section id="crt_sec">
			<div class="topic">
				<h3>Common Questions</h3>
				<p>Questions we often receive</p>
			</div>
			<div class="curated_img">
				<img src="img/props/magic_props-04.svg">
			</div>
			<div class="curated">
				<div class="crt_head">
					<a id="crt_prev" class="crt_prev" @click="active_question = (active_question - 1) % questions.length"></a>
					<a id="crt_next" class="crt_next" @click="active_question = (active_question + 1) % questions.length"></a>
				</div>
				<div id="crt_body" class="crt_body">
					<div v-for="(question,index) in questions" :class="{ 'active': index === active_question }">
						<h4>{{question.question}}</h4>
						<button @click="showanswer(question.question)" class="btn main_btn blue">Get Answer</button>
						<button class="btn main_btn summon_btn">Ask</button>
					</div>
				</div>
				<ul id="crt_dots" class="crt_dots">
					<li v-for="(question,index) in questions" @click="active_question = index"><a :class="{ 'active': index === active_question }"></a></li>
				</ul>
			</div>
			
		</section>
		<section class="main_sec">
			<div class="topic">
				<h3>Choose a magic prop</h3>
				<p></p>
			</div>
			<div class="main_btns container">
				<button id="find_btn" :class="{ 'active': active_module === 'find_cont' }" ><router-link to="/find"><img src="img/props/magic_props-01.svg"><h3>Find</h3><p>Search keywords</p></router-link></button>
				<button id="wizard_btn" :class="{ 'active': active_module === 'wizard_cont' }" @click="main_btn_click('wizard_cont')"><img src="img/props/magic_props-02.svg"><h3>Wizard</h3><p>Guided questions</p></button>
				<button id="library_btn" :class="{ 'active': active_module === 'library_cont' }" @click="main_btn_click('library_cont')"><img src="img/props/magic_props-03.svg"><h3>Library</h3><p>Show everything</p></button>
			</div>
			<!-- contents -->
			<div ref="main_conts" class="main_conts active">
				<find-cont inline-template>
				<div id="find_cont">
					<div class="container">
						<div class="tag_line">
							<span>Popular Search :</span>
							<a @click="tag_click('How do I know if my phone is being tapped?')">How do I know if my phone is being tapped?</a>,
							<a @click="tag_click('SMS')">SMS</a>
						</div>
						<form action="" autocomplete="on">
							<textarea v-model="searchterm" name="search" ref="search" class="autoExpand" v-bind:rows="search_rows" data-min-rows="1" placeholder="What are you looking for?" @click="clearsearch()"></textarea>
							<input id="search_submit" value="" type="submit">
							<label for="search_submit"><i class="material-icons">&#xE8B6;</i></label>
						</form>
						<ul class="result">
							<div class="sort_line" v-bind:data-length="searchresults.length">
								<span class="sort">
									<span><i class="material-icons">sort</i>Sort by</span>
									<a class="active">Format</a><a>Theme</a><a>Difficulty</a>
								</span>
								<span class="result_length" v-bind:data-length="searchresults.length">{{searchresults.length}} results</span>
							</div>
							
							<div class="format_length" v-bind:data-length="searchresults.length">
								{{searchresults.length}} article
							</div>
							<li v-for="result in searchresults">
								<a v-bind:data-href="result.doc.link" onclick="click_result(this)">
									<span class="rs_img">
										<img v-bind:src="result.doc.image" />
										<span class="from">{{result.doc.link.split("/")[2]}}</span>
									</span>
									<span class="rs_title">
										<h4>{{ result.doc.series }} - {{ result.doc.title }}</h4>
										<p>{{ result.doc.tagline }}</p>
										<span class="rs_info_bottom">
											Difficulty<span class="difficulty material-icons"><span class="stars" v-bind:data-diff="result.doc.difficulty"></span></span>
										</span>
									</span>
									<span class="rs_info">
										<ul class="tags">
											<li v-for="tag in result.doc.tags.split(',')" v-if="tag" @click="tag_click(tag)">{{tag}}</li>
										</ul>
										<span class="format"><i class="material-icons" v-bind:data-icon="format_icon(result.doc.format)"></i>{{result.doc.format}}</span>
									</span>
								</a>
							</li>
							<p class="big" v-show="searchterm != ''">Can't find what you're looking for?</p>
							<button class="btn main_btn summon_btn" v-show="searchterm != ''">Summon Elves</button>
						</ul>
						<ul v-show="search_isanswer" class="result">
							<div class="answer_block">
								<h3><img class="custom_icon" src="img/custom_icon/answer.svg" />Answer</h3>
								<p class="answer"></p><!-- 這裡的內容會被選定的問題的答案取代 -->
								<p class="answer_by">Answer by OCF<img class="custom_icon" src="img/custom_icon/ocf_logo.svg" /></p>
							</div>
							<div class="sort_line" v-bind:data-length="searchresults.length">
								<span class="sort">
									<span><i class="material-icons">sort</i>Sort by</span>
									<a class="active">Format</a><a>Theme</a><a>Difficulty</a>
								</span>
								<span class="result_length" v-bind:data-length="searchresults.length">{{searchresults.length}} results</span>
							</div>
							
							<div class="format_length" v-bind:data-length="searchresults.length">
								{{searchresults.length}} article
							</div>
							<li v-for="result in searchresults">
								<a v-bind:data-href="result.doc.link" onclick="click_result(this)">
									<span class="rs_img">
										<img v-bind:src="result.doc.image" />
										<span class="from">{{result.doc.link.split("/")[2]}}</span>
									</span>
									<span class="rs_title">
										<h4>{{ result.doc.series }} - {{ result.doc.title }}</h4>
										<p>{{ result.doc.tagline }}</p>
										<span class="rs_info_bottom">
											Difficulty<span class="difficulty material-icons"><span class="stars" v-bind:data-diff="result.doc.difficulty"></span></span>
										</span>
									</span>
									<span class="rs_info">
										<ul class="tags">
											<li v-for="tag in result.doc.tags.split(',')" v-if="tag" @click="tag_click(tag)">{{tag}}</li>
										</ul>
										<span class="format"><i class="material-icons" v-bind:data-icon="format_icon(result.doc.format)"></i>{{result.doc.format}}</span>
									</span>
								</a>
							</li>
							<p class="big" v-show="searchterm != ''">Can't find what you're looking for?</p>
							<button class="btn main_btn summon_btn" v-show="searchterm != ''">Summon Elves</button>
						</ul>
					</div>
				</div>
				</find-cont>

				<div id="wizard_cont" :class="{ 'active': active_module === 'wizard_cont' }">
					<div class="container">
						<form class="wizard active" id="wizard_form">
							<p>Choose your path...</p>
							<div class="wizard_question active">
								<p>1. What is your concern about digital security?</p>
								<input type="checkbox" name="theme" id="Communications" value="Communications">
								<label for="Communications">Communications (chat, emails, calls)</label>
								<input type="checkbox" name="theme" id="Surveillance" value="Surveillance">
								<label for="Surveillance">Surveillance</label>
								<input type="checkbox" name="theme" id="Data" value="Data">
								<label for="Data">Data</label>
								<input type="checkbox" name="theme" id="Privacy" value="Privacy">
								<label for="Privacy">Privacy</label>
								<input type="checkbox" name="theme" id="Device" value="Device">
								<label for="Device">Device</label>
								<input type="checkbox" name="theme" id="Account" value="Account">
								<label for="Account">Account</label>
								<input type="checkbox" name="theme" id="Physical Security" value="Physical Security">
								<label for="Physical Security">Physical Security</label>
								<input type="checkbox" name="theme" id="Security Strategy" value="Security Strategy">
								<label for="Security Strategy">Security Strategy</label>
							</div>
							<div class="wizard_question">
								<p>2. What platform(s) are you using?</p>
								<input type="checkbox" name="platform" id="Windows" value="Windows">
								<label for="Windows">Windows</label>
								<input type="checkbox" name="platform" id="MacOS" value="MacOS">
								<label for="MacOS">MacOS</label>
								<input type="checkbox" name="platform" id="iOS" value="iOS">
								<label for="iOS">iOS</label>
								<input type="checkbox" name="platform" id="Android" value="Android">
								<label for="Android">Android</label>
								<input type="checkbox" name="platform" id="Linux" value="Linux">
								<label for="Linux">Linux</label>
							</div>
							<div class="wizard_question">
								<input class="btn main_btn" type="submit" value="Submit">
							</div>
						</form>

						<div id="wizard_result">
							<div class="row tcenter">
								<a class="back"><i class="material-icons">keyboard_arrow_left</i>back</a>
								<h3>Recommend Result</h3>
							</div>
							<ul class="result">
								<div class="sort_line">
									<span><i class="material-icons">sort</i>Sort by</span>
									<a class="active">Format</a><a>Theme</a><a>Difficulty</a><a>Rank</a>
									<span class="result_length" data-length="">0 results</span>
								</div>
								<li>
									<a data-href="" onclick="click_result(this)">
										<span class="rs_img">
											<img src="" />
											<span class="from">link.com</span>
										</span>
										<span class="rs_title">
											<h4>series - title</h4>
											<p>description</p>
											<span class="rs_info_bottom">
												Difficulty<span class="difficulty material-icons"><span class="stars" data-diff=""></span></span>
											</span>
										</span>
										<span class="rs_info">
											<ul class="tags">
												<li @click="">tag</li>
											</ul>
											<span class="format"><i class="material-icons" data-icon=""></i>format</span>
										</span>
									</a>
								</li>
								<p class="big">Can't find what you're looking for?</p>
								<button class="btn main_btn summon_btn">Summon Elves</button>
							</ul>
						</div>
					</div>
				</div>

				<div id="library_cont" :class="{ 'active': active_module === 'library_cont' }">
					<div class="container">
						<p>Here's a list of everything we collected and reviewed:</p>
						<a href="https://docs.google.com/forms/d/e/1FAIpQLSd_Ju1200zFoqiIzQsK9otLkI1NLlEA069tScOst_fiSa9QBA/viewform?usp=sf_link" target="_blank" class="btn main_btn">Contribute this list</a>
						<div class="lib_table">
							<div class="lib_thead">
								<span class="lib_tr">
									<span><a>Title<i class="material-icons">arrow_drop_down</i></a></span>
									<span><a>Theme<i class="material-icons">arrow_drop_down</i></a></span>
									<span><a>Format<i class="material-icons">arrow_drop_down</i></a></span>
									<span><a>Difficulty<i class="material-icons">arrow_drop_down</i></a></span>
								</span>
							</div>
							<div class="lib_tbody">
								<a v-for="material in materials.filter(material => material.title != '' && material.link != '')" class="lib_tr" v-bind:href="material.link" target="_blank" onclick="click_library(this)">
									<span>{{material.series}} - {{material.title}}</span>
									<span>{{material.theme}}</span>
									<span><i class="material-icons" v-bind:data-icon="format_icon(material.format)"></i>{{material.format}}</span>
									<span><span class="difficulty material-icons"><span class="stars" v-bind:data-diff="material.difficulty"></span></span></span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<a id="backtop_btn" class="backtop_btn"><i class="material-icons">arrow_drop_up</i></a>
		</section>
		<section id="about_topic" class="parallaxer">
			<img src="img/bg/02.jpg" alt="forest">
			<div class="topic">
				<h3>About this site</h3>
			</div>
		</section>
		<section id="about">
			<div class="content">
				<div class="row">
					<div class="w4">
						<img src="img/props/magic_props-09.svg">
					</div>
					<div class="w8">
						<h4>Criteria for material inclusion</h4>
						<p>When selecting materials, we always make sure they </p>
					</div>
				</div>
				<div class="row">
					<div class="w4">
						<img src="img/props/magic_props-06.svg">
					</div>
					<div class="w8">
						<h4>Material selection process</h4>
						<p>The materials included in this website are all reviewed, assigned into categories and tagged according to topic by digital security professionals in OCF.</p>
					</div>
				</div>
				<div class="row">
					<div class="w4">
						<img src="img/props/magic_props-10.png">
					</div>
					<div class="w8">
						<h4>How do we ensure the linked materials are up to date?</h4>
						<p>We will display the dates that the materials are last reviewed. We will also check the materials regularly, and remove any out-of-date materials in our database.</p>
					</div>
				</div>
				<div class="row">
					<div class="w4">
						<img src="img/props/magic_props-08.svg">
					</div>
					<div class="w8">
						<h4>The materials we include in this website are published by:</h4>
						<ul>
							<li>Tactical Technology Collective</li>
							<li>Electronic Frontier Foundation</li>
							<li>Other</li>
						</ul>
					</div>
				</div>
			</div>
		</section>
		<section class="parallaxer">
			<img src="img/bg/03.jpg" alt="books">
			<div class="content">
				<h3>About this project</h3>
				<p>CSCS Resource Portal is an aggregator for Digital Security training materials that is categorized according to topic, form and difficulty, to allow activists to easily search for materials that suit their needs.</p>
				<p>This website is created by Open Culture Foundation (OCF), under the Civil Society Cyber Shield project. OCF is a non-profit registered in Taiwan aimed to advocate the use of open technologies in broader sectors, including open source software, open hardware, and open data. The Civil Society Cyber Shield project is funded by Taiwan Foudation for Democracy.</p>
			</div>
		</section>
		<section id="popup_wrap">
			<div id="popup_feedback" class="popup feedback">
				<div class="popup_head">
					<h4>Feedback</h4>
					<a class="popup_close"><i class="material-icons">close</i></a>
				</div>
				<ul class="result">
					<li id="result_feedback">
						<a>
							<span class="rs_img">
								<img src="" />
								<span class="from"></span>
							</span>
							<span class="rs_title">
								<h4></h4>
								<p></p>
								<span class="rs_info_bottom">
									Difficulty<span class="difficulty material-icons"><span class="stars" data-diff=""></span></span>
								</span>
							</span>
							<span class="rs_info">
								<ul class="tags">
								</ul>
								<span class="format"><i class="material-icons" data-icon=""></i>format</span>
							</span>
						</a>
					</li>
				</ul>
				<div class="popup_body">
					<form action="">
						<div class="input_block">
							<img src="img/props/magic_props-12.svg">
							<textarea name="feedback_text" id="feedback_text" placeholder="What you think of this article?" rows="3" class="autoExpand"></textarea>
						</div>
						<input class="btn main_btn" type="submit" value="Submit">
					</form>
					<a class="share" href="">Share<span class="icomoon-facebook"></span></a>
				</div>
			</div>
			<div id="popup_feedback_library" class="popup feedback">
				<div class="popup_head">
					<h4>Feedback</h4>
					<a class="popup_close"><i class="material-icons">close</i></a>
				</div>
				<ul class="result">
					<li id="library_feedback">
						<a>
							<span class="rs_title">
								<h4></h4>
							</span>
						</a>
					</li>
				</ul>
				<div class="popup_body">
					<form action="">
						<div class="input_block">
							<img src="img/props/magic_props-12.svg">
							<p>What you think of this article?</p>
							<label for="rank" class="rank rank_enable"><span class="stars"></span></label>
							<input type="range" min="0" max="5" step="1" name="rank" id="thisrank" value="0">
						</div>
						<input class="btn main_btn" type="submit" value="Submit">
					</form>
					<a class="share" href="">Share<span class="icomoon-facebook"></span></a>
				</div>
				<div class="popup_foot"></div>
			</div>
			<div id="popup_summon" class="popup summon">
				<div class="popup_head">
					<img src="img/props/magic_props-11.svg">
					<h4>Ask us questions</h4>
					<a class="popup_close"><i class="material-icons">close</i></a>
				</div>
				<div class="popup_body">
					<form v-on:submit.prevent="question_submit()">
						<label>Question</label>
						<textarea name="question" id="question" placeholder="" rows="3"></textarea>
						<label>Email</label>
						<input type="text" name="email" id="se_email" placeholder="">
						<input class="btn main_btn" type="submit" v-bind:value="question_submitted ? 'We\'ve got your question!' : 'Submit'" :disabled="question_submitted">
					</form>
				</div>
				<div class="popup_foot emergency">
					<h6><i class="material-icons">error_outline</i>Emergency</h6>
					<p>If you are an activist and is under an emergency, you can contact the following organizations</p>
					<h5>AccessNow Helpline</h5>
					<p>Email at <a href="mailto:help@accessnow.org">help@accessnow.org</a>, more information at <a href="https://www.accessnow.org/help/">https://www.accessnow.org/help/</a></p>
					<h5>Front Line Defenders Emergency Contact</h5>
					<p>Phone at <a href="tel:+353-1-210-0489">+353-1-210-0489</a>, or call via <a href="skype:front-line-emergency?call">SKYPE</a>, more information at <a href="https://www.frontlinedefenders.org/emergency-contact">https://www.frontlinedefenders.org/emergency-contact</a></p>
				</div>
			</div>
		</section>
	</main>

	<footer>
		<section class="container">
			<div>
				<a href="https://ocf.tw/" class="logo" target="_blank"><img src="img/logos/logo_OCF_b.png"></a>
				<a href="https://ocf.tw/" target="_blank"><i class="material-icons">&#xE88A;</i>ocf.tw</a>
				<a href="mailto:hi@ocf.tw"><i class="material-icons">email</i>hi@ocf.tw</a>
			</div>
			<div>
				<h5>Funded by</h5>
				<a class="logo" target="_blank"><img src="img/logos/logo_TFD_b.png"></a>
			</div>
			<div>
				<h5>Partners</h5>
				<a class="logo" target="_blank"><img src="img/logos/logo_NSD_b.png"></a>
				<a class="logo" target="_blank"><img src="img/logos/logo_TAHR_b.png"></a>
				<a class="logo" target="_blank"><img src="img/logos/logo_HITC_b.png"></a>
				<a class="logo" target="_blank"><img src="img/logos/logo_IFC_b.png?v=2"></a>
			</div>
			
		</section>
	</footer>
</router-view>
</body>
</html>
